#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config APBRIDGE
	bool "APBridge"
	select GREYBUS
	default n

config APBRIDGE_UNIPRO
	bool "Enable UniPro layer"
	depends on APBRIDGE
	default y
